body{
  margin: 0;
  box-sizing: border-box;
  background-color: #242121;
  color:  white;
}
.main-navbar{
 
  position: sticky;
  top: 0;
  left: 0;
  background-color: #292828;
}

.header-element{
  display: flex;
  justify-content: space-between;
  flex: 12;
 }
 .logo{
   flex : 2;
   display: flex;
   justify-content: center;
 }


 .search-container{
  flex : 6;
  display: flex;
  justify-content: center;
  
}
input{
  margin: 0.5rem;
  background-color: #373737;
  color: #535353;
  width: 600px;
}
button{
  background-color: #373737;
  color: #535353;
}
.navbar-conatiner{
  flex : 4;
  display: flex;
  justify-content: space-between;
}


.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shimmer {
  margin-top: 4rem;
  margin-inline:2rem;
  width: 200px;
  height: 280px;
  gap:2rem;
  animation: shimmer 4s infinite linear ;
  background: linear-gradient(
  #b0a2a3 0%,

  #a0a2a3 30%,
  
  #c0a2a3 50%,
  
 
  #c0a2a3 90%,
  #d0a2a3 100% );
  
}

@keyframes shimmer {
  0% {
    background-position: 0 -468px ;
  }

  100% {
    background-position: 0 468px ;
  }
}